.Theme_switcher {
  width: 70px;
  height: 30px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  background: #828181;
  .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    padding: 2px;
  }
}
@media (max-width: 1000px) {
  .Theme_switcher {
    margin-bottom: 10px;
  }
}
